[Desktop Entry]
Name=Butler 0.1
GenericName=Butler - shopping list and home accounting.
MimeType=application/butler
Exec=/usr/bin/butler0.1
Type=Application
Encoding=UTF-8
Version=0.1.0
Categories=Application;Office;Qt
Icon=butler0.1
X-Window-Icon=butler0.1
X-Window-Icon-Dimmed=butler0.1
X-Osso-Service=butler0.1
X-Osso-Type=application/x-executable
