Package: butler-dbg
Source: butler
Version: 0.2.4
Architecture: amd64
Maintainer: Császár Péter <csjpeter@gmail.com>
Installed-Size: 7890
Depends: butler (= 0.2.4)
Section: debug
Priority: extra
Description: Debug files for butler
 Butler is a shopping list like basic home accounting tool.
Build-Ids: 5e454f1b42c6248639e32ad9a4f85f91657ea563
