Source: butler
Section: user
Priority: optional
Maintainer: Császár Péter <csjpeter@gmail.com>
Build-Depends: libqt4-core, libqt4-gui
Standards-Version: 3.6.2.2

Package: butler
Section: user
Architecture: any
Provides: butler
Depends: libqt4-core, libqt4-gui
Description: Helper for home keeping via maintaining shoping lists.

Package: butler-dbg
Section: devel
Architecture: any
Depends: butler
Description: Debug symbols for the butler.

