Source: butler-datamodel
Section: user
Priority: optional
Maintainer: Császár Péter <csjpeter@gmail.com>
Build-Depends: libqt4-core, libqt4-sql
Standards-Version: 3.6.2.2

Package: butler-datamodel
Section: user
Architecture: any
Provides: butler-datamodel
Depends: libqt4-core, libqt4-sql
Description: Base library for the butler applications. Butler is a shopping list like basic home economy helper tool.

Package: butler-datamodel-dbg
Section: devel
Architecture: any
Depends: butler-datamodel
Description: Debug symbols for the butler-datamodel package.

Package: butler-datamodel-dev
Section: devel
Architecture: any
Depends: butler-datamodel-dbg
Description: Development headers and files for butler-datamodel package.

