#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_install:
	# Install the binary
	install -D -m 0755 $(CURDIR)/obj-x86_64-linux-gnu/build/obj/butler \
		$(CURDIR)/debian/butler0.1/usr/bin/butler0.1
	# Install desktop file
	install -D -m 0644 $(CURDIR)/share/applications/butler.desktop \
		$(CURDIR)/debian/butler0.1/usr/share/applications/butler0.1.desktop
	# Install icon
	install -D -m 0644 $(CURDIR)/share/icons/butler.png \
		$(CURDIR)/debian/butler0.1/usr/share/pixmaps/butler0.1.png
	# Install other share data
	mkdir -p $(CURDIR)/debian/butler0.1/usr/share/butler0.1
	cp -r $(CURDIR)/share/icons $(CURDIR)/debian/butler0.1/usr/share/butler0.1/ || true

override_dh_strip:
	dh_strip --dbgsym-migration='butler0.1-dbg (<< 0.1.0-24.04-noble)'
