#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	# Configure Release build
	dh_auto_configure --builddirectory=obj-release -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr
	# Configure Debug build
	dh_auto_configure --builddirectory=obj-debug -- \
		-DCMAKE_BUILD_TYPE=Debug \
		-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_build:
	# Build Release version
	dh_auto_build --builddirectory=obj-release
	# Build Debug version
	dh_auto_build --builddirectory=obj-debug

override_dh_auto_test:
	# Create testdir required by some tests
	mkdir -p $(CURDIR)/testdir
	# Run tests with Release build sequentially to avoid port conflicts
	cd $(CURDIR)/obj-release && ctest --verbose -j1

override_dh_auto_install:
	# Install the release binary
	install -D -m 0755 $(CURDIR)/obj-release/build/obj/butler \
		$(CURDIR)/debian/butler/usr/bin/butler
	# Install the debug binary
	install -D -m 0755 $(CURDIR)/obj-debug/build/obj/butler \
		$(CURDIR)/debian/butler-debug/usr/bin/butler-debug
	# Install desktop file
	install -D -m 0644 $(CURDIR)/share/applications/butler.desktop \
		$(CURDIR)/debian/butler/usr/share/applications/butler.desktop
	# Install icon to pixmaps
	install -D -m 0644 $(CURDIR)/share/icons/butler.png \
		$(CURDIR)/debian/butler/usr/share/pixmaps/butler.png
	# Install icons directory
	mkdir -p $(CURDIR)/debian/butler/usr/share/butler/icons
	cp -r $(CURDIR)/share/icons/* $(CURDIR)/debian/butler/usr/share/butler/icons/
	# Install translation files
	mkdir -p $(CURDIR)/debian/butler/usr/share/butler/translations
	install -m 0644 $(CURDIR)/share/translations/*.qm \
		$(CURDIR)/debian/butler/usr/share/butler/translations/
	# Install CSS files
	mkdir -p $(CURDIR)/debian/butler/usr/share/butler/css
	install -m 0644 $(CURDIR)/share/css/application.css \
		$(CURDIR)/debian/butler/usr/share/butler/css/
	# Install man page
	install -D -m 0644 $(CURDIR)/share/man/man1/butler.1 \
		$(CURDIR)/debian/butler/usr/share/man/man1/butler.1

override_dh_strip:
	dh_strip --dbg-package=butler-dbg -pbutler
	# Don't strip butler-debug package - skip it entirely
	dh_strip -Nbutler-debug
