[Desktop Entry]
Name=Butler
GenericName=Butler - shopping list and home accounting.
MimeType=application/butler
Exec=/usr/bin/butler
Type=Application
Encoding=UTF-8
Version=0.2.0
Categories=Application;Office;Qt;User
Icon=butler
X-Window-Icon=butler
X-Window-Icon-Dimmed=butler
X-Osso-Service=butler
X-Osso-Type=application/x-executable
