[Desktop Entry]
Name=ButlerQt
Caption=Butler
GenericName=Butler - shopping list and home accounting
MimeType=application/butler
Exec=/usr/bin/butler-qt
Type=Application
Encoding=UTF-8
Version=1.0
Categories=Application;Office;Qt;User
Icon=butler
X-Window-Icon=butler
X-Window-Icon-Dimmed=butler
X-Osso-Service=butler
X-Osso-Type=application/x-executable
