Package: butler
Version: 0.2.4
Architecture: amd64
Maintainer: Császár Péter <csjpeter@gmail.com>
Installed-Size: 1792
Depends: libc6 (>= 2.38), libgcc-s1 (>= 3.3.1), libqt5core5t64 (>= 5.15.1), libqt5gui5t64 (>= 5.0.2) | libqt5gui5-gles (>= 5.0.2), libqt5widgets5t64 (>= 5.15.1), libsqlite3-0 (>= 3.7.15), libstdc++6 (>= 5)
Section: libs
Priority: optional
Description: Butler - shopping list and home accounting.
 Butler is a shopping list like basic home accounting tool.
