#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Detect architecture for cross-compiling
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

PACKAGENAME = butler-sqlite
DEBIAN_DESTDIR = $(CURDIR)/debian/${PACKAGENAME}

ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

clean:
	./clean.sh
	rm -f packaging-started build-stamp configure-stamp
	dh_clean 

configure:
	touch packaging-started
	qmake
	touch configure-stamp

build: configure
	$(MAKE)
	touch build-stamp

unittest:
	./test.sh # will abort if any of the tests fails

install: 
	dh_installdirs
	$(MAKE) INSTALL_ROOT=${DEBIAN_DESTDIR} install

binary: unittest install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip --dbg-package=${PACKAGENAME}
	dh_compress
	dh_fixperms
#	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
#	dh_maemolauncher usr/bin/${PACKAGENAME}
	dh_gencontrol -- $(LAUNCHER_DEPENDS)
	dh_md5sums
	dh_builddeb

.PHONY: clean configure build test install binary

