
* {
/*	border-width: 0px;*/
/*	font-family: "Times";*/
/*	border-radius: 4px;*/
	background-color: black;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	border-color: #444444;
	border-style: solid;
	color: #cccccc;
	gridline-color: black;
	margin: 0px;
	padding: 0px;
	selection-background-color: #222288;
}

QScrollBar, QScrollBar::up-arrow, QScrollBar::down-arrow, QScrollBar::add-page, QScrollBar::sub-page, QScrollBar::add-line, QScrollBar::sub-line, QScrollBar::down-button, QScrollBar::up-button {
	border-width: 0px;
}
QScrollBar::handle { background-color: gray; }
QScrollBar:vertical { width: 4px; }
QScrollBar:horizontal { height: 4px; }

*:default {
	border-color: #222266;
	background-color: #111133;
}

QPushButton {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	border-radius: 2px;
	border-width: 1px;
	background-color: black;
	border-color: #444444;
	padding-top: 1ex;
	padding-bottom: 1ex;
	padding-right: 2em;
	padding-left: 2em;
	icon-size: 24px;
}

QPushButton:hover, QLineEdit:hover, QCheckBox:hover, QRadioButton:hover {
	border-color: #3333bb;
	background-color: #222288;
}

QPushButton:pressed {
	background-color: #222288;
}

MainView QPushButton {
	border-radius: 0px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	text-align: left;
	padding: 12px;
	icon-size: 32px;
}

MainView QPushButton:hover {
	background-color: #222288;
	border-color: #444444;
}

QLineEdit {
	border-width: 1px;
	padding: 2px;
}

QTextEdit {
	border-width: 1px;
	padding: 2px;
}

QLabel {
	color: #aaaaaa;
}

QComboBox {
	border-radius: 2px;
	border-width: 1px;
	background-color: black;
	border-color: #444444;
	padding: 2px;
}
/*
QComboBox QAbstractItemView::text {
	padding-top: 1ex;
	padding-bottom: 1ex;
}
*/
QComboBox QAbstractItemView {
	border-width: 1px;
	show-decoration-selected: 1;
}

QComboBox::drop-down {
	width: 24px;
}

QSpinBox {
	border-radius: 2px;
	border-width: 1px;
	background-color: black;
	border-color: #444444;
	padding: 2px;
}

QDateTimeEdit {
	border-radius: 2px;
	border-width: 1px;
	background-color: black;
	border-color: #444444;
	padding: 2px;
}
