
QCheckBox::indicator {
	width: 30px;
	height: 30px;
}

QRadioButton::indicator {
	width: 30px;
	height: 30px;
}
/*
QWidget {
	font: bold italic large "Times New Roman";
}
*/
QWidget {
	font-family: "Times New Roman";
	font-size: 20px;
}

QSpinBox::up-arrow {
	image: url(:/images/up_arrow.png);
	width: 15px;
	height: 15px;
}

QScrollBar {
	width: 30px;
	height: 30px;
}

QScrollBar::handle {
	 min-width: 50px;
	 min-height: 50px;
}

/*
QScrollBar:vertical {
	border: 2px solid grey;
	background: black;
	width: 30px;
	margin: 30px 0px 30px 0px;
}

QScrollBar::handle:vertical {
	 background: #000088;
	 min-height: 50px;
}

QScrollBar::add-line:vertical {
	 border: 2px solid red;
	 background: blue;
	 height: 30px;
	 subcontrol-position: bottom;
	 subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
	 border: 2px solid grey;
	 background: black;
	 height: 30px;
	 subcontrol-position: top;
	 subcontrol-origin: margin;
}

QScrollBar::down-button:vertical {
	 border: 2px solid grey;
	 background: black;
	 height: 30px;
	 width: 30px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
	border: 2px solid grey;
	width: 15px;
	height: 15px;
	background: black;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
	background: green;
}


QScrollBar:horizontal {
	width: 30px;
}
*/
/*
QScrollBar::handle:horizontal {
	 min-height: 50px;
}

QScrollBar::add-line:horizontal {
}

QScrollBar::sub-line:horizontal {
}

QScrollBar::up-arrow:horizotal, QScrollBar::down-arrow:horizontal {
	width: 5px;
	height: 5px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
}
*/

